{% extends '/admin/base.html.twig' %}

{% block breadcumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('list_authors') }}">Auteur</a></li>
        <li class="breadcrumb-item active" aria-current="page">Liste</li>
    </ol>
{% endblock %}

{% block content %}

    <div class="row ">
        <div class="col-9 bg-white">
            <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Classement</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
           
             {% for author in authors %}
                <tr id="{{author.id}}">
                    <td>{{ author.id }}</td>
                    <td>{{ author.user.name }}</td>
                    <td>{{ author.user.email }}</td>
                    <td>
                        <a id-author="{{author.id}}" class="deleteLink" url="{{ path('delete_author') }}" style="cursor:pointer"  >
                            <span class="material-icons-outlined edit" >delete_outline</span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            
            </tbody>
        </table>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-6">
            <h5 class="mb-3">Ajouter auteur</h5>
            {{ form_start(form) }}
            {{ form.user.name.vars.label }}
            {{ form_widget(form.user.name, { 'attr': {'class': 'form-control-lg mb-3'} }) }}
            {{ form.user.email.vars.label }}
            {{ form_widget(form.user.email, { 'attr': {'class': 'form-control-lg mb-3'} }) }}
            {{ form_widget(form.user.save, { 'attr': {'class': 'btn btn-primary save-button mb-5'} }) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
    {% block modal %}
<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Supprimer un auteur</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p> Voulez-vous vraiment supprimer? Les articles associées seront également supprimées</p>
        <input type="hidden" id="url" value='' />
        <input type="hidden" id="id" value='' />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <button type="button" id="deleteBtn" class="btn btn-danger">Supprimer</button>
      </div>
    </div>
  </div>
</div>
    {% endblock %}
    {% block documentReady %}
<script>
    $(document).ready(function(){

        $('.deleteLink').click(function () {
            $('#url').val($(this).attr('url'));
            $('#id').val($(this).attr('id-author'));
            $('#modal').modal('show');
        });

        $('#deleteBtn').click(function (e) {
            e.preventDefault();
            let url = $('#url').val();
            let id = $('#id').val();

            $(this).prop("disabled", true);
            $(this).html(
                `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> En cours...`
            );

            $.post(url,{id:id},function(data){
                $('#modal').modal('toggle');
                if(data.res===1){
                    $("#"+id).remove();
                }else{
                  alert("Une erreur est survenue");
                }
            });
        });
    });
</script>

{% endblock %}
