{# templates/blog/layout.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{article.title}}{% endblock %}

{% block header %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ asset('img/about-bg.jpg') }}')">
        <div class="overlay"></div>
        <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
                <h1>{{article.title}}</h1>
                <span class="subheading">This is what I do.</span>
                <span class="meta">Posted by
                <a href="#">{{article.author.name}}</a> {{article.articleDate|date("m/d/Y")}}</span>
            </div>
            </div>
        </div>
        </div>
    </header>
{% endblock %}
{% block content %}
    {% block page_contents %}{{article.content}}{% endblock %}
{% endblock %}