{% extends '/admin/base.html.twig' %}


 {% block dashbordNav %}
       <li class="nav-item">
 {% endblock %}
 {% block articleNav %}
       <li class="nav-item">
 {% endblock %}
 {% block authorNav %}
       <li class="nav-item">
 {% endblock %}
 {% block categoryNav %}
       <li class="nav-item active">
 {% endblock %}
{% block content %}

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">   {% block contentTitle %} Liste des categories  {% endblock %}</h1>
    </div>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" >
            <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
           
             {% for category in categories %}
                <tr id="{{category.id}}">
                    <td>{{ category.name }}</td>
                    <td> <a href="{{ path('form_category', {id: category.id}) }}" ><i class="fas fa-fw fa-edit"></i></a>  <a style="cursor:pointer" id-category="{{category.id}}" class="deleteLink" url="{{ path('delete_category') }}" ><i class="fas fa-trash" style="color:red"></i></a>
                    </td>
                <tr>
            {% endfor %}
            
            </tbody>
        </table>
        </div>
    </div>
    </div>
{% endblock %}
    {% block modal %}
<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Supprimer une categorie</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p> Voulez-vous vraiment supprimer? Les articles associees seront egalement supprimees</p>
        <input type="hidden" id="url" value='' />
        <input type="hidden" id="id" value='' />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <button type="button" id="deleteBtn" class="btn btn-danger">Supprimer</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

    {% block documentReady %}

<script>
    $(document).ready(function(){
        $('.deleteLink').click(function () {
            $('#url').val($(this).attr('url'));
            $('#id').val($(this).attr('id-category'));
            $('#modal').modal('show');
        });

        $('#deleteBtn').click(function (e) {
            e.preventDefault();
            let url = $('#url').val();
            let id = $('#id').val();

            $(this).prop("disabled", true);
            $(this).html(
                `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> En cours...`
            );

            $.post(url,{id:id},function(data){
                $('#modal').modal('toggle');
                if(data.res===1){
                    $("#"+id).remove();
                }else{
                  alert("Une erreur est survenue");
                }
            });
        });
    });
</script>
{% endblock %}
