{% extends '/admin/base.html.twig' %}

{% block breadcumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('list_categories') }}">Catégorie</a></li>
        <li class="breadcrumb-item active" aria-current="page">Liste</li>
    </ol>
{% endblock %}
{% block content %}
    <div class="row ">
        <div class="col-9 bg-white">
        <table id="table" class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Classement</th>
                <th>Catégories</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th>Actions</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>

            {% for category in categories %}
            <tr id="{{category.id}}">
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <a style="cursor:pointer" id-category="{{category.id}}" class="deleteLink" url="{{ path('delete_category') }}" >
                        <span class="material-icons-outlined edit" >delete_outline</span>
                    </a>
                </td>
                {% endif %}
            </tr>
                {% endfor %}

            </tbody>
        </table>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-4">
            <h5>Nouvelle catégorie</h5>
            {{ form_start(form) }}
                {{ form_widget(form.name, { 'attr': {'class': 'form-control-lg mb-3'} }) }}
                {{ form_widget(form.save, { 'attr': {'class': 'btn btn-primary save-button'} }) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
    {% block modal %}
<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
          <p> Voulez-vous vraiment supprimer? Les articles associées seront également supprimées</p>
          <input type="hidden" id="url" value='' />
          <input type="hidden" id="id" value='' />
          <button type="button" class="btn btn-link blue-button" data-mdb-dismiss="modal">Annuler</button>
          <button type="button" id="deleteBtn" class="btn btn-link blue-button">Supprimer</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

    {% block documentReady %}

<script>
    $(document).ready(function(){
        $('.deleteLink').click(function () {
            $('#url').val($(this).attr('url'));
            $('#id').val($(this).attr('id-category'));
            $('#modal').modal('show');
        });

        $('#deleteBtn').click(function (e) {
            e.preventDefault();
            let url = $('#url').val();
            let id = $('#id').val();

            $(this).prop("disabled", true);
            $(this).html(
                `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> En cours...`
            );

            $.post(url,{id:id},function(data){
                $('#modal').modal('toggle');
                if(data.res===1){
                    $("#"+id).remove();
                }else{
                  alert("Une erreur est survenue");
                }
            });
        });

    });
</script>
{% endblock %}