{% extends '/admin/base.html.twig' %}

{% block breadcumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('list_article') }}">Article</a></li>
        <li class="breadcrumb-item active" aria-current="page"> {% block contentTitle %} {{titre}}   {% endblock %}</li>
    </ol>
{% endblock %}
{% block content %}
    {{ form_start(form) }}
    <div class="row mb-3">
        <div class="col-6">
            {{ form.title.vars.label }}
            {{ form_widget(form.title,{'attr':{'class':'form-control-lg'}}) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-3">
            {{ form.articleDate.vars.label }}
            {{ form_widget(form.articleDate,{'attr':{'class':'form-control-lg'}}) }}
        </div>
        <div class="col-3">
            {{ form.archived_at.vars.label }}
            {{ form_widget(form.archived_at,{'attr':{'class':'form-control-lg'}}) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2">
            {{ form.category.vars.label }}
            {{ form_widget(form.category,{'attr':{'class':'form-control-lg'}}) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-4">
            {{ form.thumbnailFile.vars.label }}
            {{ form_widget(form.thumbnailFile,{'attr':{'class':'form-control-lg'}}) }}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-9">
            {{ form.content.vars.label }}
            {{ form_widget(form.content) }}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-9">
            {{ form.extract.vars.label }}
           {{ form_widget(form.extract) }}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-6">
            {{ form.tags.vars.label }}
            {{ form_widget(form.tags,{'attr':{'class':'form-control-lg','data-role':'tagsinput'}}) }}
        </div>
    </div>

     <div class="row mb-3">
        <div class="col-9">
            {{ form_widget(form.save, { 'attr': {'class': 'btn btn-primary save-button float-end'} }) }}
        </div>
     </div>
    {{ form_end(form) }}
{% endblock %}
{% block documentReady %}
    <script>
        $(document).ready(function() {
            $('.custom-file-input').on('change', function (event) {
                let inputFile = event.currentTarget;
                $(inputFile).parent().find('.custom-file-label').html(inputFile.files[0].name);
            });

            $('.bootstrap-tagsinput input').on('keypress', function(e){
                if (e.keyCode == 13){
                    e.preventDefault();
                };
            });
        });
    </script>
{% endblock %}