{% extends '/admin/article/list.html.twig' %}

{% block breadcumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('list_article') }}">Article</a></li>
        <li class="breadcrumb-item active" aria-current="page">Tableau</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-11">

        <div class="row mb-2">
            <div class="col-1">
                <a style=" cursor: pointer" id="deleteAll"  data-url="{{ path('delete_article') }}" ><span class="material-icons-outlined edit " style="font-size: 38px" >delete_outline</span></a>
            </div>
            <div class="col-2">
                <a class="btn btn-primary add-button" href="{{ path('form_article') }}">
                    <i class="fa fa-plus me-2" aria-hidden="true"></i>Ajouter
                </a>
            </div>
        </div>
     <div class="row bg-white">
            <table class="table table-striped table-sm ">
                <thead>
                    <tr>
                        <th><input class="form-check-input"
                                   type="checkbox"
                                   id="check-all"
                                   aria-label="..."></th>
                        <th>Titre</th>
                        <th>Auteur</th>
                        <th>Extrait</th>
                        <th>Image</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for key,article in articles %}
                    <tr id="{{article.id}}">
                        <td class="col-1"><input class="form-check-input row-checkbox"
                                                 type="checkbox"
                                                 value="{{ article.id }}"
                                                 aria-label="..."></td>
                        <td>{{ article.title }}</td>
                        {% if article.author %}
                            <td style="font-size:13px">{{ article.author.user.name }}</td>
                        {% else %}
                            <td style="font-size:13px">Non renseigné</td>
                        {% endif %}
                        <td>{{ article.extract | raw }}
                            <a href="{{ path('detail_article', {id: article.id}) }}" class="edit">Voir plus</a>
                        </td>
                        <td>
                            {% if article.thumbnail %}
                                <img class="img-fluid" style="width:100%;" src="{{asset('uploads/')~ article.thumbnail}}" alt="{{ article.title }}" />
                            {% else %}
                                <img class="img-fluid" style="width:100%;" src="{{asset('img/thumbnail.png')}}" alt="{{ article.title }}" />
                            {% endif %}
                        </td>
                        <td>
                            {% if is_granted('ROLE_ADMIN') or article.author.user == app.user %}
                                <a style=" cursor: pointer" data-id-article="{{article.id}}" class="deleteLink"  data-url="{{ path('delete_article') }}" ><span class="material-icons-outlined edit float-end" id="password-edit" >delete_outline</span></a>
                                <a href="{{ path('form_article', {id: article.id}) }}"><span class="material-icons-outlined edit float-end" id="password-edit" >edit</span></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
     </div>
        </div>
    </div>
{% endblock %}

